table{
    width: 100%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

caption{
    color: #e63946;
    font-family: 'Trocchi', serif;
    font-size: 45px;
    line-height: 70px;
}

th{
    color: #f1faee;
    background-color: #1d3557;
}

/* Renglones pares */
tr:nth-child(even){
    background-color: #f1faee;
}

/* Renglones impares */
tr:nth-child(odd){
    background-color: #a8dadc;
}