.color_verde{
    color: #56d656;
}

.color_naranja{
    color: #da6a10;
}

.informacion{
    width: 70%;
    margin: 5% 10% 0 10%;
}

.titulo{
    text-align: left;
    margin: 5% 0;
}

.titulo h5{
    font-weight: bold;
    font-size: 1.5rem;
}

.dato{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.dato:hover{
    .valor{
        margin-right: 20%;
        transition-timing-function: ease-in-out;
    }

    .eliminar_par{
        position: relative;
        right: 5%;
        color: red;
        transition-property: color right;
        transition-timing-function: ease-in-out;
    }

    .eliminar_impar{
        position: relative;
        right: 5%;
        color: red;
        transition-property: color right;
        transition-timing-function: ease-in-out;
    }
}

.eliminar_par{
    color: #d3d3d3;
    transition-duration: 0.5s;
}

.eliminar_impar{
    color: #ffffff;
    transition-duration: 0.5s;
}

.fondo_par{
    background-color: #d3d3d3;
}

.valor{
    width: 30%;
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 30%;
    transition-duration: 0.5s;
}

.porcentaje{
    position: relative;
    width: 40%;
    background-color: #fcb47a;
}