.datos{
    height: 100%;
    text-align: center;
    padding-top: 1%;
    text-align: center;
    margin: auto;
}

.disponible{
    width: 35%;
    margin: auto;
    margin-bottom: 2%;
    padding: 1%;
    color: white;
}

.ingresos{
    margin: auto;
    padding: 1%;
    color: white;
    width: 35%;
    background-color: #56d656;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.egresos{
    margin: auto;
    padding: 1%;
    margin-top: 1%;
    color: white;
    width: 35%;
    background-color: #da6a10;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulo_1{
    font-weight: bold;
    font-size: 1.5rem;
}

.titulo_2{
    color: black;
    margin: 0;
}

.porcentajeTotales{
    position: absolute;
    left: 62vw;
    width: 4%;
    background-color: #fcb47a;
}