<div class="contenido">
    <div class="container formularioCreacion">
        <div class="col centrado">
            <h3>{{ title }}</h3>
            <h4>{{ subTitle }}</h4>
        </div>
        <div>
            <form class="form-group row">
                <div class="form-group col-md-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="txtNombre" placeholder="Nombre" class="form-control" [(ngModel)]="nombreEmpleado">
                </div>
                <div class="form-group col-md-3">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="txtApellido" placeholder="Apellido" class="form-control" [(ngModel)]="apellidoEmpleado">
                </div>
                <div class="form-group col-md-3">
                    <label for="cargo">Cargo</label>
                    <input type="text" name="cargo" id="txtCargo" placeholder="Cargo" class="form-control" [(ngModel)]="cargoEmpleado">
                </div>
                <div class="form-group col-md-3">
                    <label for="salario">Salario</label>
                    <input type="text" name="salario" id="txtSalario" placeholder="Salario" class="form-control" [(ngModel)]="salarioEmpleado">
                </div>
                <div class="mensajeError" *ngIf="mostrarMensaje">
                    <h6>{{ mensaje }}</h6>
                </div>
                <div class="col botonera">
                    <button type="submit" class="btn btn-primary" (click)="accion()">{{ boton_accion }}</button>
                    <button class=" btn btn-primary" (click)="volverHome()">Ir a Home</button>
                    <!-- <button type="button" class="btn btn-danger" (click)="eliminarEmpleado()">Eliminar</button> -->
                </div>
            </form>
        </div>
    </div>