/* You can add global styles to this file, and also import other style files */
.boton{
    background-color: #8d8d8d;
    width: 30px;
    margin: 20%;
    cursor: pointer;
}

.boton_doble{
    background-color: #8d8d8d;
    width: 78px;
    margin: 8%;
    cursor: pointer;
}