<div class="calculadora">
    <div class="display">
        <app-display-numeros [displayNumero]="displayNumero" [displayCalculo]="displayCalculo"></app-display-numeros>
    </div>
    <div class="botones">
        <div class="numericos">
            <div class="fila">
                <app-boton-numerado *ngFor="let num of numerosLinea4" [numeroRecibido]="num" (numeroAEnviar)="obtenerCifra($event)"></app-boton-numerado>
            </div>
            <div class="fila">
                <app-boton-numerado *ngFor="let num of numerosLinea3" [numeroRecibido]="num" (numeroAEnviar)="obtenerCifra($event)"></app-boton-numerado>
            </div>
            <div class="fila">
                <app-boton-numerado *ngFor="let num of numerosLinea2" [numeroRecibido]="num" (numeroAEnviar)="obtenerCifra($event)"></app-boton-numerado>
            </div>
            <div class="fila">
                <app-boton-numerado *ngFor="let num of numerosLinea1" [numeroRecibido]="num" [esDoble]="num == '0'" (numeroAEnviar)="obtenerCifra($event)"></app-boton-numerado>
            </div>
        </div>
        <div class="signos">
            <div class="fila">
                <app-boton-accion *ngFor="let signo of signosLinea4" [signoRecibido]="signo" (signoAEnviar)="obtenerSigno($event)"></app-boton-accion>
            </div>
            <div class="fila">
                <app-boton-accion *ngFor="let signo of signosLinea3" [signoRecibido]="signo" (signoAEnviar)="obtenerSigno($event)"></app-boton-accion>
            </div>
            <div class="fila">
                <app-boton-accion *ngFor="let signo of signosLinea2" [signoRecibido]="signo" (signoAEnviar)="obtenerSigno($event)"></app-boton-accion>
            </div>
            <div class="fila">
                <app-boton-accion *ngFor="let signo of signosLinea1" [signoRecibido]="signo" [esDoble]="true" (signoAEnviar)="obtenerSigno($event)"></app-boton-accion>
            </div>
        </div>
    </div>
</div>