<div style="text-align: center;">
  <button style="cursor: pointer;" (click)="agregar()">+</button>
</div>
<div class="box">
  <app-persona-v2 *ngFor="let objPersona of personas; let i = index" [persona]="objPersona"
    [indice]="i"></app-persona-v2>
</div>

<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" [disabled]="boton_desabilitado" (click)="agregarPersona()">
        Agregar Persona
      </button>
      <p *ngIf="mostrar; else sinPersona">{{ mensaje }} con el titulo de {{ titulo }}</p>
      <ng-template #sinPersona>
        <p>No se ha agregado ninguna persona</p>
      </ng-template>
      <app-persona></app-persona>

      <label>Nacionalidad Persona</label>
      <input type="text" class="form-control" [(ngModel)]="nacionalidad">
      <p>{{ nacionalidad }}</p>

      <label>Título Persona</label>
      <input type="text" class="form-control" (input)="modificarTitulo($event)">
    </div>
  </div>
</div>