<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button class="btn btn-primary"
              [disabled]="boton_desabilitado"
              (click)="agregarPersona()">
              Agregar Persona
      </button>
      <p>{{ mensaje }}</p>
      <app-persona></app-persona>

      <label>Nacionalidad Persona</label>
      <input type="text" class="form-control" [(ngModel)]="nacionalidad">
      <p>{{ nacionalidad }}</p>

      <label>Título Persona</label>
      <input type="text" class="form-control" (input)="modificarTitulo($event)">
      {{ titulo }}
    </div>
  </div>
</div>
